.fl{float:left;}

.fr{float:right;}

.pt50{
    padding-top:50px;
}

.background-image{

}

.loading-image{
    // background: url(../assets/loading.gif) center no-repeat;
    // height:2.5rem;
    // width:100%;
}